{{>partials/header}}
{{>partials/navbar}}
<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
    <div
        class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div
            class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
                <div class="lg:max-w-lg">
                    <p class="text-base font-semibold leading-7 text-indigo-600">Helping tomorrow</p>
                    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our Story</h1>
                    <p class="mt-6 text-xl leading-8 text-gray-700">The Ayrshire Hospice was established to enhance the
                        quality of remaining life for those suffering from any life-limiting illness including cancer,
                        neurological conditions, end stage heart failure and lung disease, as well as to support
                        families and carers facing the loss of a loved one.</p>
                </div>
            </div>
        </div>
        <div
            class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
            <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
                src="https://www.ayrshirehospice.org/Handlers/GetImage.ashx?IDMF=98dd387f-8fa7-4af5-ba3b-24a41fdcb67c&h=900&src=mc&w=1350"
                alt="">
        </div>
        <div
            class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
                <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
                    <p>It was in 1983 when a group of hard working and committed citizens dedicated their time to form a
                        Trust, with the goal of raising the necessary funds to open a hospice in Ayrshire. On 24 October
                        1983 the first public meeting took place where there was an overwhelming vote for the hospice
                        fund to be established, with an initial fundraising target of £400,000 set. Within an impressive
                        21 months this target had been reached and the next task was to find a suitable location for the
                        hospice.</p>
                    <ul role="list" class="mt-8 space-y-8 text-gray-600">
                        <li class="flex gap-x-3">
                            <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 24 24" fill="currentColor"
                                aria-hidden="true">
                                <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8" />
                                <path
                                    d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                            </svg>
                            <span><strong class="font-semibold text-gray-900">A Start.</strong>
                                ‘Gargowan’ at 35 Racecourse Road, Ayr, was identified after an exhaustive search
                                throughout
                                Ayrshire and building work began in 1987. At the same time, the hospice service was
                                launched
                                with the appointment of two home care nurses offering advice and support to community
                                patients
                                across Ayrshire. </span>
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 24 24" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M3 2.25a.75.75 0 0 1 .75.75v.54l1.838-.46a9.75 9.75 0 0 1 6.725.738l.108.054A8.25 8.25 0 0 0 18 4.524l3.11-.732a.75.75 0 0 1 .917.81 47.784 47.784 0 0 0 .005 10.337.75.75 0 0 1-.574.812l-3.114.733a9.75 9.75 0 0 1-6.594-.77l-.108-.054a8.25 8.25 0 0 0-5.69-.625l-2.202.55V21a.75.75 0 0 1-1.5 0V3A.75.75 0 0 1 3 2.25Z"
                                    clip-rule="evenodd" />
                            </svg>
                            <span><strong class="font-semibold text-gray-900">Landmark Day.</strong> The Ayrshire
                                Hospice dream finally became a reality on Wednesday 15 February 1989, when the doors
                                were opened to the first patients. The hospice was officially opened in June of that
                                year by Her Royal Highness the Duchess of Kent.</span>
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 24 24" fill="currentColor"
                                aria-hidden="true">

                                <path
                                    d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" />


                            </svg>
                            <span><strong class="font-semibold text-gray-900">Moving Forward.</strong> As the hospice
                                has grown it has become a vital part of palliative care in Ayrshire. Care is provided by
                                highly trained hospice staff in a number of places including people’s own homes,
                                hospitals and care homes as well as in the hospice’s purpose built day care centre and
                                in-patient unit. All services continue to be provided free of charge.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{>partials/footer}}