{{>partials/header}}
{{>partials/navbar}}
<main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-24">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900">Available Items</h1>
    {{#isVolunteerOrManager}}
    <div class="flex items-center">
      <a type="button" href="/items/add"
        class="inline-flex w-full justify-center rounded-md bg-green-500 px-[10px] pb-[6px] pt-[3px] text-sm font-bold text-white shadow-sm hover:bg-green-400 sm:ml-3 sm:w-auto">+</a>
    </div>
    {{/isVolunteerOrManager}}
  </div>

  <section aria-labelledby="products-heading" class="pb-24 pt-6">
    <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-4">
      {{#items}}
      <div class="border border-gray-200 rounded-lg shadow p-2 py-1 pb-1">
        <div class="flex flex-row justify-between pb-1">
          <div class="flex-shrink truncate ...">
            <div class="flex flex-row ">
              <h5 class="text-lg font-semibold tracking-tight text-gray-900">{{name}}</h5>
              {{#isVolunteerOrManager}}
              <a href="/items/edit/{{_id}}">
                <button type="button"
                  class="font-medium rounded-lg text-sm p-1.5 text-center inline-flex items-center text-black/75 hover:text-black/50">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-pencil">
                    <path
                      d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                    <path d="m15 5 4 4" />
                  </svg>
                </button>
              </a>
              {{/isVolunteerOrManager}}
            </div>
            <p class="text-sm text-gray-500 truncate ...">{{description}}</p>
          </div>
          <div class="flex flex-col">
            <a href="/shops/{{shop}}"
              class="flex flex-row justify-end items-center gap-1 text-indigo-500 text-sm hover:text-indigo-400">
              <h4 class="font-semibold">{{shop}}</h4>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-map-pin">
                <path
                  d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                <circle cx="12" cy="10" r="3" />
              </svg>
            </a>
            <div>
              <p class="text-xl font-bold text-gray-900" style="text-align: right;">£{{price}}</p>
            </div>
          </div>
        </div>
      </div>

      {{/items}}
    </div>

    </div>
  </section>
</main>
{{>partials/footer}}